* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1496170804262-975019a5cd34?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHNreSUyMHN0YXJ8ZW58MHx8MHx8fDA%3D");
  font-family: "Roboto", sans-serif;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loginContainer {
  animation: fadeIn 1s;
}

.loginBox {
  width: 550px;
  padding: 50px 50px 50px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: white;
}

.login-title {
  text-align: center;
  font-size: 25px;
  color: black;
  margin-bottom: 25px;
}

.email-field,
.password-field,
.passwordInput {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.email-field label,
.password-field label {
  font-size: 0.8rem;
  color: black;
  margin-bottom: 0.3rem;
}

.email-field input,
.password-field input {
  border-radius: 5px;
  flex-grow: 1;
  padding: 15px 20px;
  border: 3px solid rgb(118, 173, 255);
  transition: border-color 0.5s ease;
  outline: none;
}

.email-field input:focus,
.password-field input:focus {
  border: 4px solid rgb(0, 102, 255);
}

.password-text {
  display: flex;
  justify-content: space-between;
}

.password-text a {
  font-size: 15px;
}

.loginButton {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(99, 161, 255);
  width: 100%;
  margin-bottom: 30px;
  transition: transform 0.5s ease, background-color 0.5s ease,
    font-size 0.5s ease;
  cursor: pointer;
}

.loginButton:hover {
  background-color: rgb(40, 126, 255);
  transform: translateY(-5px);
  font-size: 17px;
}

.signUp-field {
  margin-bottom: 0px;
  display: flex;
}

.forgot-link,
.signUp-link {
  color: blue;
  text-decoration: none;
  margin-left: 15px;
  transition: transform 0.3s ease;
  font-size: 18px;
}

.forgot-link:hover,
.signUp-link:hover {
  transform: translateY(-3px);
  font-weight: bold;
}

.signUp-field {
  display: flex;
  justify-content: center;
}

.signUp-text {
  font-size: 18px;
}
